<div class="row">
    <div ng-repeat="header in headers" class="col">
        <span style="font-weight: bold;"> {{header}} </span>
    </div>
    <div ng-show="link != undefined"></div>
</div>
<div class="row" ng-repeat="item in data">
    <div class="col" ng-repeat="col in cols">
        <span> {{item[col]}}</span>
    </div>
    <a ng-href="{{generateHref(item)}}">
        <i class="icon ion-person-stalker"></i>
    </a>
</div>
<div class="text-center">
    <a class="button button-icon" ng-click="loadData();" ng-show="showMoreBtn">更多</a>
</div>